.main-banner {
	background-image: url('../img/bannerolimpo.png');
	background-position: center;
	background-size: cover;
	padding: 10em 0;
	position: relative;
}

.main-banner h1, .main-banner p {
	color: #FFF;
	text-align: center;
	font-weight: bold;
}

.main-banner h1 {
	font-size: 54px;
}

.main-banner p {
	font-size: 32px;
    color: rgb(216, 216, 12);
    font-weight: bold;
}
